In [1]:
install.packages("tidyverse")
install.packages("janitor")
install.packages("tidyverse")
install.packages("janitor")
install.packages("lubridate")
install.packages("hms")
install.packages("data.table")
library(tidyverse)
library(janitor)
library(lubridate)
library(hms)
library(data.table)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘snakecase’


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘janitor’


The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test



Attaching package: ‘hms’


The following object is masked from ‘package:lubridate’:

    hms



Attaching package: ‘data.table’


The following objects are masked from ‘package:lubridate’:

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following objects are masked from ‘package:dplyr’:

    between, first, last


The following object is masked from ‘package:purrr’:

    transpose

In [86]:
#load original .csv files, a years worth of data from August 2020 to July 2021
jan01_df <- read_csv("/content/202401-divvy-tripdata.csv")
feb02_df <- read_csv("/content/202402-divvy-tripdata.csv")
mar03_df <- read_csv("/content/202103-divvy-tripdata.csv")
apr04_df <- read_csv("/content/202404-divvy-tripdata.csv")
may05_df <- read_csv("/content/202405-divvy-tripdata.csv")
jun06_df <- read_csv("/content/202406-divvy-tripdata.csv")
jul07_df <- read_csv("/content/202407-divvy-tripdata.csv")
aug08_df <- read_csv("/content/202408-divvy-tripdata.csv")
sep09_df <- read_csv("/content/202409-divvy-tripdata.csv")
oct10_df <- read_csv("/content/202410-divvy-tripdata.csv")

Rows: 144873 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 223164 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 228496 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 415025 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 609493 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 710721 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 748962 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 755639 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 821276 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 616281 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): ride_id, rideable_type, start_station_name, start_station_id, end_...
dbl  (4): start_lat, start_lng, end_lat, end_lng
dttm (2): started_at, ended_at

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [87]:
#merge all of the data frames into one year view
cyclistic_df <- rbind (aug08_df, sep09_df, oct10_df, jan01_df, feb02_df, mar03_df, apr04_df, may05_df, jun06_df, jul07_df)

In [88]:
#remove individual month data frames to clear up space in the environment
remove(aug08_df, sep09_df, oct10_df,jan01_df, feb02_df, mar03_df, apr04_df, may05_df, jun06_df, jul07_df)

In [90]:
#create new data frame to contain new columns
cyclistic_date <- cyclistic_df

In [91]:
head(cyclistic_df)

  ride_id          rideable_type started_at          ended_at
1 BAA154388A869E64 classic_bike  2024-08-02 13:35:14 2024-08-02 13:48:24
2 8752245932EFF67A electric_bike 2024-08-02 15:33:13 2024-08-02 15:55:23
3 44DDF9F57A9A161F classic_bike  2024-08-16 15:44:06 2024-08-16 15:57:52
4 44AAAF069B0C78C3 electric_bike 2024-08-19 18:47:11 2024-08-19 18:56:33
5 77138D500A6B7B4B classic_bike  2024-08-03 20:34:20 2024-08-03 20:46:29
6 F6F581F31A9C9BC2 electric_bike 2024-08-03 20:08:09 2024-08-03 20:44:53
  start_station_name       start_station_id end_station_name
1 State St & Randolph St   TA1305000029     Wabash Ave & 9th St
2 Franklin St & Monroe St  TA1309000007     Damen Ave & Cortland St
3 Franklin St & Monroe St  TA1309000007     Clark St & Elm St
4 Clark St & Elm St        TA1307000039     McClurg Ct & Ohio St
5 Western Ave & Leland Ave TA1307000140     Ashland Ave & Belle Plaine Ave
6 Clark St & Elm St        TA1307000039     Stetson Ave & South Water St
  end_station_id start_lat start_lng end_lat  end_lng   member_casual
1 TA1309000010   41.88462  -87.62783 41.87077 -87.62573 member
2 13133          41.88032  -87.63519 41.91598 -87.67733 member
3 TA1307000039   41.88032  -87.63519 41.90297 -87.63128 member
4 TA1306000029   41.90297  -87.63128 41.89259 -87.61729 member
5 13249          41.96640  -87.68870 41.95606 -87.66884 casual
6 TA1308000029   41.90297  -87.63128 41.88683 -87.62232 casual

In [92]:
#calculate ride length by subtracting ended_at time from started_at time and converted it to minutes
cyclistic_date$ride_length <- difftime(cyclistic_df$ended_at, cyclistic_df$started_at, units = "mins")

In [93]:
#create columnds for: day of week, month, day, year, time, hour
cyclistic_date$date <- as.Date(cyclistic_date$started_at) #default format is yyyy-mm-dd, use start date
cyclistic_date$day_of_week <- wday(cyclistic_df$started_at) #calculate the day of the week
cyclistic_date$day_of_week <- format(as.Date(cyclistic_date$date), "%A") #create column for day of week
cyclistic_date$month <- format(as.Date(cyclistic_date$date), "%m")#create column for month
cyclistic_date$day <- format(as.Date(cyclistic_date$date), "%d") #create column for day
cyclistic_date$year <- format(as.Date(cyclistic_date$date), "%Y") #create column for year
cyclistic_date$time <- format(as.Date(cyclistic_date$date), "%H:%M:%S") #format time as HH:MM:SS
cyclistic_date$time <- as_hms((cyclistic_df$started_at)) #create new column for time
cyclistic_date$hour <- hour(cyclistic_date$time) #create new column for hour

In [94]:
#create column for different seasons: Spring, Summer, Fall, Winter
cyclistic_date <-cyclistic_date %>% mutate(season =
                                             case_when(month == "03" ~ "Spring",
                                                       month == "04" ~ "Spring",
                                                       month == "05" ~ "Spring",
                                                       month == "06"  ~ "Summer",
                                                       month == "07"  ~ "Summer",
                                                       month == "08"  ~ "Summer",
                                                       month == "09" ~ "Fall",
                                                       month == "10" ~ "Fall",
                                                       month == "01" ~ "Winter",
                                                       month == "02" ~ "Winter")
)

In [95]:
#create column for different time_of_day: Night, Morning, Afternoon, Evening
cyclistic_date <-cyclistic_date %>% mutate(time_of_day =
                                             case_when(hour == "0" ~ "Night",
                                                       hour == "1" ~ "Night",
                                                       hour == "2" ~ "Night",
                                                       hour == "3" ~ "Night",
                                                       hour == "4" ~ "Night",
                                                       hour == "5" ~ "Night",
                                                       hour == "6" ~ "Morning",
                                                       hour == "7" ~ "Morning",
                                                       hour == "8" ~ "Morning",
                                                       hour == "9" ~ "Morning",
                                                       hour == "10" ~ "Morning",
                                                       hour == "11" ~ "Morning",
                                                       hour == "12" ~ "Afternoon",
                                                       hour == "13" ~ "Afternoon",
                                                       hour == "14" ~ "Afternoon",
                                                       hour == "15" ~ "Afternoon",
                                                       hour == "16" ~ "Afternoon",
                                                       hour == "17" ~ "Afternoon",
                                                       hour == "18" ~ "Evening",
                                                       hour == "19" ~ "Evening",
                                                       hour == "20" ~ "Evening",
                                                       hour == "21" ~ "Evening",
                                                       hour == "22" ~ "Evening",
                                                       hour == "23" ~ "Evening")
)

In [96]:
#create a column for the month using the full month name
cyclistic_date <-cyclistic_date %>% mutate(month =
                                             case_when(month == "01" ~ "January",
                                                       month == "02" ~ "February",
                                                       month == "03" ~ "March",
                                                       month == "04" ~ "April",
                                                       month == "05" ~ "May",
                                                       month == "06" ~ "June",
                                                       month == "07" ~ "July",
                                                       month == "08" ~ "August",
                                                       month == "09" ~ "September",
                                                       month == "10" ~ "October",

                                                       )
)

In [97]:
#clean the data
cyclistic_date <- na.omit(cyclistic_date) #remove rows with NA values
cyclistic_date <- distinct(cyclistic_date) #remove duplicate rows
cyclistic_date <- cyclistic_date[!(cyclistic_date$ride_length <=0),] #remove where ride_length is 0 or negative
cyclistic_date <- cyclistic_date %>%  #remove columns not needed: ride_id, start_station_id, end_station_id, start_lat, start_long, end_lat, end_lng
  select(-c(ride_id, start_station_id, end_station_id,start_lat,start_lng,end_lat,end_lng))

In [99]:
#view the final data
View(cyclistic_date)

        rideable_type started_at          ended_at
1       classic_bike  2024-08-02 13:35:14 2024-08-02 13:48:24
2       electric_bike 2024-08-02 15:33:13 2024-08-02 15:55:23
3       classic_bike  2024-08-16 15:44:06 2024-08-16 15:57:52
4       electric_bike 2024-08-19 18:47:11 2024-08-19 18:56:33
5       classic_bike  2024-08-03 20:34:20 2024-08-03 20:46:29
6       electric_bike 2024-08-03 20:08:09 2024-08-03 20:44:53
7       classic_bike  2024-08-28 17:08:13 2024-08-28 17:34:06
8       electric_bike 2024-08-20 16:04:33 2024-08-20 16:08:27
9       electric_bike 2024-08-07 12:11:56 2024-08-07 12:13:38
10      classic_bike  2024-08-29 20:41:13 2024-08-29 20:55:32
11      classic_bike  2024-08-29 20:38:10 2024-08-29 20:40:23
12      classic_bike  2024-08-29 20:41:36 2024-08-29 20:55:34
13      electric_bike 2024-08-21 13:30:16 2024-08-21 15:01:38
14      electric_bike 2024-08-08 16:57:25 2024-08-08 16:57:41
15      classic_bike  2024-08-28 22:16:35 2024-08-28 22:41:49
16      classic_bike  2024-08-12 19:54:53 2024-08-12 20:21:11
17      classic_bike  2024-08-10 12:26:48 2024-08-10 13:15:47
18      electric_bike 2024-08-10 11:59:32 2024-08-10 12:16:59
19      classic_bike  2024-08-26 08:38:52 2024-08-26 09:03:13
20      classic_bike  2024-08-20 08:21:06 2024-08-20 08:23:17
21      classic_bike  2024-08-08 11:57:03 2024-08-08 11:59:33
22      electric_bike 2024-08-22 21:32:43 2024-08-22 21:45:40
23      electric_bike 2024-08-14 06:37:20 2024-08-14 06:43:56
24      electric_bike 2024-08-12 08:20:22 2024-08-12 08:32:10
25      electric_bike 2024-08-25 16:42:57 2024-08-25 16:56:15
26      classic_bike  2024-08-29 18:46:30 2024-08-29 18:55:16
27      electric_bike 2024-08-05 14:21:50 2024-08-05 14:24:50
28      classic_bike  2024-08-02 22:01:01 2024-08-02 22:21:08
29      classic_bike  2024-08-29 12:36:36 2024-08-29 12:43:10
30      classic_bike  2024-08-29 08:07:02 2024-08-29 08:10:20
⋮       ⋮             ⋮                   ⋮
3806815 electric_bike 2024-07-20 20:42:10 2024-07-20 21:12:46
3806816 electric_bike 2024-07-20 20:43:42 2024-07-20 21:12:01
3806817 classic_bike  2024-07-20 10:34:50 2024-07-20 11:06:48
3806818 classic_bike  2024-07-26 17:07:39 2024-07-26 17:39:08
3806819 classic_bike  2024-07-08 17:10:10 2024-07-08 17:50:11
3806820 electric_bike 2024-07-05 13:46:04 2024-07-05 13:57:57
3806821 electric_bike 2024-07-02 13:09:26 2024-07-02 13:27:27
3806822 classic_bike  2024-07-20 10:34:44 2024-07-20 11:06:32
3806823 classic_bike  2024-07-20 01:20:15 2024-07-20 01:27:04
3806824 classic_bike  2024-07-20 01:31:49 2024-07-20 01:38:02
3806825 electric_bike 2024-07-05 13:51:18 2024-07-05 13:59:00
3806826 electric_bike 2024-07-27 23:13:04 2024-07-28 00:24:10
3806827 electric_bike 2024-07-30 16:20:40 2024-07-30 17:11:02
3806828 classic_bike  2024-07-29 18:41:27 2024-07-29 18:59:59
3806829 electric_bike 2024-07-28 22:09:18 2024-07-28 22:17:59
3806830 electric_bike 2024-07-02 21:48:24 2024-07-02 22:13:39
3806831 electric_bike 2024-07-28 12:42:58 2024-07-28 13:20:44
3806832 electric_bike 2024-07-28 00:10:39 2024-07-28 00:17:51
3806833 classic_bike  2024-07-01 15:56:06 2024-07-01 17:01:05
3806834 electric_bike 2024-07-20 20:43:03 2024-07-20 21:12:32
3806835 electric_bike 2024-07-28 22:09:25 2024-07-28 22:17:54
3806836 electric_bike 2024-07-13 14:05:05 2024-07-13 14:11:40
3806837 electric_bike 2024-07-12 13:19:34 2024-07-12 13:25:11
3806838 classic_bike  2024-07-30 22:29:48 2024-07-30 22:39:41
3806839 classic_bike  2024-07-19 13:55:48 2024-07-19 14:04:17
3806840 classic_bike  2024-07-26 15:05:14 2024-07-26 15:14:31
3806841 electric_bike 2024-07-06 15:58:16 2024-07-06 16:07:22
3806842 classic_bike  2024-07-03 17:11:45 2024-07-03 17:57:09
3806843 classic_bike  2024-07-03 17:09:13 2024-07-03 17:17:50
3806844 classic_bike  2024-07-18 13:36:41 2024-07-18 13:43:55
        start_station_name               end_station_name
1       State St & Randolph St           Wabash Ave & 9th St
2       Franklin St & Monroe St          Damen Ave & Cortland St
3       Franklin St & Monroe St          Clark St & Elm St
4       Clark St & Elm St                McClurg Ct & Ohio St
5       Western Ave & Leland Ave         Ashland Ave & Belle Plaine Ave
6       Clark St & Elm St                Stetson Ave & South Water St
7       Michigan Ave & Jackson Blvd      Larrabee St & Webster Ave
8       Franklin St & Monroe St          Kingsbury St & Kinzie St
9       Michigan Ave & Jackson Blvd      Wabash Ave & Adams St
10      Scottsdale Park                  Scottsdale Park
11      Scottsdale Park                  Scottsdale Park
12      Scottsdale Park                  Scottsdale Park
13      Lincoln Ave & Addison St         Lincoln Ave & Addison St
14      Public Rack - Chopin Park        Public Rack - Chopin Park
15      St. Louis Ave & Fullerton Ave    Sawyer Ave & Irving Park Rd
16      Dearborn Pkwy & Delaware Pl      Dearborn Pkwy & Delaware Pl
17      Ravenswood Ave & Irving Park Rd  Ravenswood Ave & Irving Park Rd
18      Lincoln Ave & Addison St         St. Louis Ave & Fullerton Ave
19      Indiana Ave & 26th St            Rush St & Hubbard St
20      Michigan Ave & Jackson Blvd      Millennium Park
21      Michigan Ave & Jackson Blvd      Millennium Park
22      Damen Ave & Cortland St          Milwaukee Ave & Grand Ave
23      Clark St & Elm St                Larrabee St & Kingsbury St
24      Clark St & Schreiber Ave         Clark St & Schreiber Ave
25      Franklin St & Monroe St          Morgan St & 18th St
26      Damen Ave & Cortland St          Albany Ave & Bloomingdale Ave
27      Franklin St & Monroe St          Franklin St & Lake St
28      State St & Randolph St           Morgan St & Polk St
29      State St & Randolph St           Franklin St & Lake St
30      Franklin St & Monroe St          Franklin St & Lake St
⋮       ⋮                                ⋮
3806815 Clark St & Newport St            Ashland Ave & Blackhawk St
3806816 Clark St & Newport St            Ashland Ave & Blackhawk St
3806817 Dearborn St & Van Buren St       DuSable Lake Shore Dr & Monroe St
3806818 Clark St & Newport St            DuSable Lake Shore Dr & Monroe St
3806819 Damen Ave & Melrose Ave          Loomis St & Archer Ave
3806820 Clark St & Newport St            Southport Ave & Clark St
3806821 Francisco Ave & Bloomingdale Ave Clinton St & Madison St
3806822 Dearborn St & Van Buren St       DuSable Lake Shore Dr & Monroe St
3806823 Dearborn St & Van Buren St       Clinton St & Madison St
3806824 Clark St & Newport St            Southport Ave & Clark St
3806825 Clark St & Newport St            Southport Ave & Clark St
3806826 Francisco Ave & Bloomingdale Ave Loomis St & Archer Ave
3806827 Francisco Ave & Bloomingdale Ave Clinton St & Madison St
3806828 Shields Ave & 43rd St            Wentworth Ave & 33rd St
3806829 Clark St & Newport St            Southport Ave & Clark St
3806830 Clark St & Newport St            Ashland Ave & Blackhawk St
3806831 Dearborn St & Van Buren St       Shore Dr & 55th St
3806832 Clark St & Newport St            Southport Ave & Clark St
3806833 Dearborn St & Van Buren St       Shore Dr & 55th St
3806834 Clark St & Newport St            Ashland Ave & Blackhawk St
3806835 Clark St & Newport St            Southport Ave & Clark St
3806836 Dearborn St & Van Buren St       DuSable Lake Shore Dr & Monroe St
3806837 Dearborn St & Van Buren St       Clinton St & Madison St
3806838 Dearborn St & Van Buren St       Clinton St & Madison St
3806839 Dearborn St & Van Buren St       DuSable Lake Shore Dr & Monroe St
3806840 Clark St & Newport St            Southport Ave & Clark St
3806841 Clark St & Newport St            Southport Ave & Clark St
3806842 Dearborn St & Van Buren St       Cornell Ave & Hyde Park Blvd
3806843 Dearborn St & Van Buren St       Clinton St & Madison St
3806844 Dearborn St & Van Buren St       Clinton St & Madison St
        member_casual ride_length     date       day_of_week month  day year
1       member        13.1670500 mins 2024-08-02 Friday      August 02  2024
2       member        22.1650000 mins 2024-08-02 Friday      August 02  2024
3       member        13.7646000 mins 2024-08-16 Friday      August 16  2024
4       member         9.3569000 mins 2024-08-19 Monday      August 19  2024
5       casual        12.1457500 mins 2024-08-03 Saturday    August 03  2024
6       casual        36.7463333 mins 2024-08-03 Saturday    August 03  2024
7       member        25.8933167 mins 2024-08-28 Wednesday   August 28  2024
8       member         3.8962333 mins 2024-08-20 Tuesday     August 20  2024
9       member         1.7037000 mins 2024-08-07 Wednesday   August 07  2024
10      casual        14.3223833 mins 2024-08-29 Thursday    August 29  2024
11      casual         2.2293667 mins 2024-08-29 Thursday    August 29  2024
12      casual        13.9646833 mins 2024-08-29 Thursday    August 29  2024
13      casual        91.3715500 mins 2024-08-21 Wednesday   August 21  2024
14      casual         0.2636667 mins 2024-08-08 Thursday    August 08  2024
15      casual        25.2234333 mins 2024-08-28 Wednesday   August 28  2024
16      casual        26.2985667 mins 2024-08-12 Monday      August 12  2024
17      member        48.9737833 mins 2024-08-10 Saturday    August 10  2024
18      member        17.4444667 mins 2024-08-10 Saturday    August 10  2024
19      member        24.3478333 mins 2024-08-26 Monday      August 26  2024
20      member         2.1948667 mins 2024-08-20 Tuesday     August 20  2024
21      member         2.5047833 mins 2024-08-08 Thursday    August 08  2024
22      member        12.9470333 mins 2024-08-22 Thursday    August 22  2024
23      member         6.6036667 mins 2024-08-14 Wednesday   August 14  2024
24      member        11.8023667 mins 2024-08-12 Monday      August 12  2024
25      member        13.3040167 mins 2024-08-25 Sunday      August 25  2024
26      member         8.7632000 mins 2024-08-29 Thursday    August 29  2024
27      member         3.0118500 mins 2024-08-05 Monday      August 05  2024
28      member        20.1105167 mins 2024-08-02 Friday      August 02  2024
29      member         6.5624500 mins 2024-08-29 Thursday    August 29  2024
30      member         3.2995000 mins 2024-08-29 Thursday    August 29  2024
⋮       ⋮             ⋮               ⋮          ⋮           ⋮      ⋮   ⋮
3806815 casual        30.592300 mins  2024-07-20 Saturday    July   20  2024
3806816 casual        28.323133 mins  2024-07-20 Saturday    July   20  2024
3806817 casual        31.972600 mins  2024-07-20 Saturday    July   20  2024
3806818 member        31.476717 mins  2024-07-26 Friday      July   26  2024
3806819 member        40.016917 mins  2024-07-08 Monday      July   08  2024
3806820 casual        11.871783 mins  2024-07-05 Friday      July   05  2024
3806821 member        18.002450 mins  2024-07-02 Tuesday     July   02  2024
3806822 casual        31.805200 mins  2024-07-20 Saturday    July   20  2024
3806823 casual         6.816550 mins  2024-07-20 Saturday    July   20  2024
3806824 casual         6.216817 mins  2024-07-20 Saturday    July   20  2024
3806825 casual         7.696183 mins  2024-07-05 Friday      July   05  2024
3806826 casual        71.100933 mins  2024-07-27 Saturday    July   27  2024
3806827 casual        50.371300 mins  2024-07-30 Tuesday     July   30  2024
3806828 member        18.543717 mins  2024-07-29 Monday      July   29  2024
3806829 casual         8.681733 mins  2024-07-28 Sunday      July   28  2024
3806830 casual        25.256033 mins  2024-07-02 Tuesday     July   02  2024
3806831 casual        37.769483 mins  2024-07-28 Sunday      July   28  2024
3806832 casual         7.204383 mins  2024-07-28 Sunday      July   28  2024
3806833 casual        64.976517 mins  2024-07-01 Monday      July   01  2024
3806834 casual        29.494667 mins  2024-07-20 Saturday    July   20  2024
3806835 casual         8.479750 mins  2024-07-28 Sunday      July   28  2024
3806836 casual         6.574867 mins  2024-07-13 Saturday    July   13  2024
3806837 member         5.618350 mins  2024-07-12 Friday      July   12  2024
3806838 casual         9.892233 mins  2024-07-30 Tuesday     July   30  2024
3806839 casual         8.479567 mins  2024-07-19 Friday      July   19  2024
3806840 casual         9.280800 mins  2024-07-26 Friday      July   26  2024
3806841 casual         9.099350 mins  2024-07-06 Saturday    July   06  2024
3806842 casual        45.393467 mins  2024-07-03 Wednesday   July   03  2024
3806843 member         8.608167 mins  2024-07-03 Wednesday   July   03  2024
3806844 member         7.230800 mins  2024-07-18 Thursday    July   18  2024
        time         hour season time_of_day
1       13:35:14.403 13   Summer Afternoon
2       15:33:13.965 15   Summer Afternoon
3       15:44:06.233 15   Summer Afternoon
4       18:47:11.855 18   Summer Evening
5       20:34:20.560 20   Summer Evening
6       20:08:09.067 20   Summer Evening
7       17:08:13.321 17   Summer Afternoon
8       16:04:33.878 16   Summer Afternoon
9       12:11:56.623 12   Summer Afternoon
10      20:41:13.067 20   Summer Evening
11      20:38:10.093 20   Summer Evening
12      20:41:36.658 20   Summer Evening
13      13:30:16.466 13   Summer Afternoon
14      16:57:25.696 16   Summer Afternoon
15      22:16:35.729 22   Summer Evening
16      19:54:53.744 19   Summer Evening
17      12:26:48.634 12   Summer Afternoon
18      11:59:32.478 11   Summer Morning
19      08:38:52.938  8   Summer Morning
20      08:21:06.237  8   Summer Morning
21      11:57:03.473 11   Summer Morning
22      21:32:43.684 21   Summer Evening
23      06:37:20.526  6   Summer Morning
24      08:20:22.197  8   Summer Morning
25      16:42:57.710 16   Summer Afternoon
26      18:46:30.722 18   Summer Evening
27      14:21:50.074 14   Summer Afternoon
28      22:01:01.410 22   Summer Evening
29      12:36:36.356 12   Summer Afternoon
30      08:07:02.925  8   Summer Morning
⋮       ⋮            ⋮    ⋮      ⋮
3806815 20:42:10.533 20   Summer Evening
3806816 20:43:42.456 20   Summer Evening
3806817 10:34:50.475 10   Summer Morning
3806818 17:07:39.967 17   Summer Afternoon
3806819 17:10:10.572 17   Summer Afternoon
3806820 13:46:04.812 13   Summer Afternoon
3806821 13:09:26.909 13   Summer Afternoon
3806822 10:34:44.339 10   Summer Morning
3806823 01:20:15.570  1   Summer Night
3806824 01:31:49.506  1   Summer Night
3806825 13:51:18.355 13   Summer Afternoon
3806826 23:13:04.175 23   Summer Evening
3806827 16:20:40.211 16   Summer Afternoon
3806828 18:41:27.016 18   Summer Evening
3806829 22:09:18.192 22   Summer Evening
3806830 21:48:24.453 21   Summer Evening
3806831 12:42:58.706 12   Summer Afternoon
3806832 00:10:39.233  0   Summer Night
3806833 15:56:06.972 15   Summer Afternoon
3806834 20:43:03.266 20   Summer Evening
3806835 22:09:25.399 22   Summer Evening
3806836 14:05:05.904 14   Summer Afternoon
3806837 13:19:34.264 13   Summer Afternoon
3806838 22:29:48.240 22   Summer Evening
3806839 13:55:48.642 13   Summer Afternoon
3806840 15:05:14.866 15   Summer Afternoon
3806841 15:58:16.058 15   Summer Afternoon
3806842 17:11:45.420 17   Summer Afternoon
3806843 17:09:13.869 17   Summer Afternoon
3806844 13:36:41.487 13   Summer Afternoon

In [100]:
#total number of rides
nrow(cyclistic_date)

[1] 3806844

In [101]:
#-----------------MEMBER TYPE---------------------
cyclistic_date %>%
  group_by(member_casual) %>%
  count(member_casual)

  member_casual n
1 casual        1437333
2 member        2369511

In [102]:
#----------------TYPE OF BIKE---------------------

#total rides by member type
cyclistic_date %>%
  group_by(member_casual, rideable_type) %>%
  count(rideable_type)

  member_casual rideable_type    n
1 casual        classic_bike      923032
2 casual        docked_bike        15651
3 casual        electric_bike     472910
4 casual        electric_scooter   25740
5 member        classic_bike     1590798
6 member        electric_bike     756626
7 member        electric_scooter   22087

In [103]:
#total rides
cyclistic_date %>%
  group_by(rideable_type) %>%
  count(rideable_type)

  rideable_type    n
1 classic_bike     2513830
2 docked_bike        15651
3 electric_bike    1229536
4 electric_scooter   47827

In [104]:
#-------------------HOUR--------------------------

#total rides by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  count(hour) %>%
  print(n = 48) #lets you view the entire tibble

# A tibble: 48 × 3
# Groups:   member_casual [2]
   member_casual  hour      n
   <chr>         <int>  <int>
 1 casual            0  20908
 2 casual            1  13713
 3 casual            2   7897
 4 casual            3   4263
 5 casual            4   3336
 6 casual            5   7487
 7 casual            6  18244
 8 casual            7  34842
 9 casual            8  48719
10 casual            9  50442
11 casual           10  65350
12 casual           11  84159
13 casual           12  99119
14 casual           13 103145
15 casual           14 106573
16 casual           15 116140
17 casual           16 131765
18 casual           17 141160
19 casual           18 116521
20 casual           19  83680
21 casual           20  60136
22 casual           21  48241
23 casual           22  42409
24 casual           23  29084
25 member            0  17100
26 member            1   9998
27 member            2   5284
28 member            3   3591
29 member            4   4716
30 member            5  22802
31 member            6  70616
32 member            7 135958
33 member            8 165430
34 member            9 109467
35 member           10  97085
36 member           11 113876
37 member           12 131201
38 member           13 130378
39 member           14 130390
40 member           15 160094
41 member           16 223825
42 member           17 261993
43 member           18 197830
44 member           19 137284
45 member           20  94072
46 member           21  69342
47 member           22  47973
48 member           23  29206

In [105]:
#total rides
cyclistic_date %>%
  count(hour) %>%
  print(n = 24) #lets you view the entire tibble

# A tibble: 24 × 2
    hour      n
   <int>  <int>
 1     0  38008
 2     1  23711
 3     2  13181
 4     3   7854
 5     4   8052
 6     5  30289
 7     6  88860
 8     7 170800
 9     8 214149
10     9 159909
11    10 162435
12    11 198035
13    12 230320
14    13 233523
15    14 236963
16    15 276234
17    16 355590
18    17 403153
19    18 314351
20    19 220964
21    20 154208
22    21 117583
23    22  90382
24    23  58290

In [106]:
#----------------------TIME OF DAY-----------------------

#-----morning-------
#total rides by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  filter(time_of_day == "Morning") %>%
  count(time_of_day)

  member_casual time_of_day n
1 casual        Morning     301756
2 member        Morning     692432

In [107]:
#total rides
cyclistic_date %>%
  filter(time_of_day == "Morning") %>%
  count(time_of_day)

  time_of_day n
1 Morning     994188

In [108]:
#-----afternoon-------
#total rides by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  filter(time_of_day == "Afternoon") %>%
  count(time_of_day)

  member_casual time_of_day n
1 casual        Afternoon    697902
2 member        Afternoon   1037881

In [109]:
#total rides
cyclistic_date %>%
  filter(time_of_day == "Afternoon") %>%
  count(time_of_day)

  time_of_day n
1 Afternoon   1735783

In [110]:
#-----evening-------
#total rides by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  filter(time_of_day == "Evening") %>%
  count(time_of_day)

  member_casual time_of_day n
1 casual        Evening     380071
2 member        Evening     575707

In [111]:
#total rides
cyclistic_date %>%
  filter(time_of_day == "Evening") %>%
  count(time_of_day)

  time_of_day n
1 Evening     955778

In [112]:
#-----night-------
#number of rides by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  filter(time_of_day == "Night") %>%
  count(time_of_day)

  member_casual time_of_day n
1 casual        Night       57604
2 member        Night       63491

In [113]:
#number of rides
cyclistic_date %>%
  filter(time_of_day == "Night") %>%
  count(time_of_day)

  time_of_day n
1 Night       121095

In [114]:
#---all times of day----
#total rides by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  count(time_of_day)

  member_casual time_of_day n
1 casual        Afternoon    697902
2 casual        Evening      380071
3 casual        Morning      301756
4 casual        Night         57604
5 member        Afternoon   1037881
6 member        Evening      575707
7 member        Morning      692432
8 member        Night         63491

In [115]:
#number of rides
cyclistic_date %>%
  group_by(time_of_day) %>%
  count(time_of_day)

  time_of_day n
1 Afternoon   1735783
2 Evening      955778
3 Morning      994188
4 Night        121095

In [116]:
#----------------DAY OF THE WEEK------------------

#total rides by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  count(day_of_week)

   member_casual day_of_week n
1  casual        Friday      206744
2  casual        Monday      171158
3  casual        Saturday    303582
4  casual        Sunday      253012
5  casual        Thursday    171994
6  casual        Tuesday     152824
7  casual        Wednesday   178019
8  member        Friday      328313
9  member        Monday      346564
10 member        Saturday    295175
11 member        Sunday      260347
12 member        Thursday    370955
13 member        Tuesday     368289
14 member        Wednesday   399868

In [117]:
#total rides
cyclistic_date %>%
  count(day_of_week)

  day_of_week n
1 Friday      535057
2 Monday      517722
3 Saturday    598757
4 Sunday      513359
5 Thursday    542949
6 Tuesday     521113
7 Wednesday   577887

In [118]:
#----------------DAY OF THE MONTH-----------------

#total rides by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  count(day) %>%
  print(n = 62) #lets you view the entire tibble

# A tibble: 62 × 3
# Groups:   member_casual [2]
   member_casual day       n
   <chr>         <chr> <int>
 1 casual        01    39917
 2 casual        02    44703
 3 casual        03    44387
 4 casual        04    47644
 5 casual        05    47203
 6 casual        06    48763
 7 casual        07    41474
 8 casual        08    45328
 9 casual        09    42858
10 casual        10    46048
11 casual        11    51193
12 casual        12    50518
13 casual        13    59897
14 casual        14    51870
15 casual        15    40857
16 casual        16    38836
17 casual        17    39870
18 casual        18    48125
19 casual        19    53400
20 casual        20    54200
21 casual        21    61753
22 casual        22    44949
23 casual        23    42808
24 casual        24    40005
25 casual        25    48925
26 casual        26    42284
27 casual        27    57806
28 casual        28    38276
29 casual        29    44786
30 casual        30    46225
31 casual        31    32425
32 member        01    68080
33 member        02    75008
34 member        03    76790
35 member        04    73428
36 member        05    74520
37 member        06    75116
38 member        07    69690
39 member        08    84629
40 member        09    78528
41 member        10    85460
42 member        11    83382
43 member        12    79023
44 member        13    78524
45 member        14    73227
46 member        15    68201
47 member        16    75294
48 member        17    77235
49 member        18    78666
50 member        19    79351
51 member        20    78081
52 member        21    83385
53 member        22    80055
54 member        23    81775
55 member        24    75631
56 member        25    80970
57 member        26    75776
58 member        27    78082
59 member        28    67001
60 member        29    82186
61 member        30    83422
62 member        31    48995

In [119]:
#total rides
cyclistic_date %>%
  count(day) %>%
  print(n = 31) #lets you view the entire tibble

# A tibble: 31 × 2
   day        n
   <chr>  <int>
 1 01    107997
 2 02    119711
 3 03    121177
 4 04    121072
 5 05    121723
 6 06    123879
 7 07    111164
 8 08    129957
 9 09    121386
10 10    131508
11 11    134575
12 12    129541
13 13    138421
14 14    125097
15 15    109058
16 16    114130
17 17    117105
18 18    126791
19 19    132751
20 20    132281
21 21    145138
22 22    125004
23 23    124583
24 24    115636
25 25    129895
26 26    118060
27 27    135888
28 28    105277
29 29    126972
30 30    129647
31 31     81420

In [120]:
#---------------------MONTH-----------------------

#total rides by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  count(month) %>%
  print(n = 24) #lets you view the entire tibble

# A tibble: 20 × 3
# Groups:   member_casual [2]
   member_casual month          n
   <chr>         <chr>      <int>
 1 casual        April      93927
 2 casual        August    228518
 3 casual        February   38167
 4 casual        January    17712
 5 casual        July      231970
 6 casual        June      208397
 7 casual        March      75628
 8 casual        May       167524
 9 casual        October   159347
10 casual        September 216143
11 member        April     203814
12 member        August    312805
13 member        February  146553
14 member        January    96075
15 member        July      308971
16 member        June      285945
17 member        March     130034
18 member        May       274711
19 member        October   289749
20 member        September 320854

In [121]:
#total rides
cyclistic_date %>%
  count(month)

   month     n
1  April     297741
2  August    541323
3  February  184720
4  January   113787
5  July      540941
6  June      494342
7  March     205662
8  May       442235
9  October   449096
10 September 536997

In [122]:
#--------------------SEASON-----------------------

#-----spring-------

#total rides by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  filter(season == "Spring") %>%
  count(season)

  member_casual season n
1 casual        Spring 337079
2 member        Spring 608559

In [123]:
#total rides
cyclistic_date %>%
  filter(season == "Spring") %>%
  count(season)

  season n
1 Spring 945638

In [124]:
#-----summer-------

#total rides by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  filter(season == "Summer") %>%
  count(season)

  member_casual season n
1 casual        Summer 668885
2 member        Summer 907721

In [125]:
#total rides
cyclistic_date %>%
  filter(season == "Summer") %>%
  count(season)

  season n
1 Summer 1576606

In [126]:
#-----fall-------

#total rides by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  filter(season == "Fall") %>%
  count(season)

  member_casual season n
1 casual        Fall   375490
2 member        Fall   610603

In [127]:
#total rides
cyclistic_date %>%
  filter(season == "Fall") %>%
  count(season)

  season n
1 Fall   986093

In [128]:
#-----winter-------

#total rides by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  filter(season == "Winter") %>%
  count(season)

  member_casual season n
1 casual        Winter  55879
2 member        Winter 242628

In [129]:
#total rides
cyclistic_date %>%
  filter(season == "Winter") %>%
  count(season)

  season n
1 Winter 298507

In [130]:
#-----all seasons-------

#total rides by member type
cyclistic_date %>%
  group_by(season, member_casual) %>%
  count(season)

  season member_casual n
1 Fall   casual        375490
2 Fall   member        610603
3 Spring casual        337079
4 Spring member        608559
5 Summer casual        668885
6 Summer member        907721
7 Winter casual         55879
8 Winter member        242628

In [131]:
#total rides
cyclistic_date %>%
  group_by(season) %>%
  count(season)

  season n
1 Fall    986093
2 Spring  945638
3 Summer 1576606
4 Winter  298507

In [132]:
#------------------------------------AVERAGE RIDE LENGTH-----------------------------------

#average of ride_length
cyclistic_avgRide <- mean(cyclistic_date$ride_length)
print(cyclistic_avgRide)

Time difference of 17.5546 mins

In [133]:
#------------------MEMBER TYPE--------------------

#average ride_length
cyclistic_date %>% group_by( member_casual) %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  member_casual time
1 casual        25.37564 mins
2 member        12.81040 mins

In [134]:
#----------------TYPE OF BIKE---------------------

#total rides by member type
cyclistic_date %>% group_by(member_casual, rideable_type) %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  member_casual rideable_type    time
1 casual        classic_bike     29.516859 mins
2 casual        docked_bike      81.668057 mins
3 casual        electric_bike    16.195892 mins
4 casual        electric_scooter 11.299602 mins
5 member        classic_bike     13.686059 mins
6 member        electric_bike    11.112978 mins
7 member        electric_scooter  7.889804 mins

In [135]:
#average ride_length
cyclistic_date %>% group_by(rideable_type) %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  rideable_type    time
1 classic_bike     19.498837 mins
2 docked_bike      81.668057 mins
3 electric_bike    13.067993 mins
4 electric_scooter  9.724922 mins

In [136]:
#-----------------------HOUR-------------------------

#average ride_length by member type
cyclistic_date %>% group_by(hour, member_casual) %>%
  summarise_at(vars(ride_length),
               list(time = mean)) %>%
  print(n=48) #lets you view entire tibble

# A tibble: 48 × 3
# Groups:   hour [24]
    hour member_casual time
   <int> <chr>         <drtn>
 1     0 casual        22.53673 mins
 2     0 member        12.38192 mins
 3     1 casual        23.57330 mins
 4     1 member        12.87379 mins
 5     2 casual        21.90147 mins
 6     2 member        12.82684 mins
 7     3 casual        26.33341 mins
 8     3 member        12.00130 mins
 9     4 casual        20.66437 mins
10     4 member        12.76455 mins
11     5 casual        15.45471 mins
12     5 member        11.00344 mins
13     6 casual        16.80156 mins
14     6 member        10.79632 mins
15     7 casual        16.74754 mins
16     7 member        11.56854 mins
17     8 casual        18.39825 mins
18     8 member        11.52204 mins
19     9 casual        25.79911 mins
20     9 member        11.85770 mins
21    10 casual        30.65824 mins
22    10 member        12.88562 mins
23    11 casual        30.38281 mins
24    11 member        12.84575 mins
25    12 casual        28.90301 mins
26    12 member        12.78072 mins
27    13 casual        29.30393 mins
28    13 member        12.91830 mins
29    14 casual        28.67940 mins
30    14 member        13.12814 mins
31    15 casual        26.79603 mins
32    15 member        13.14184 mins
33    16 casual        25.14717 mins
34    16 member        13.28284 mins
35    17 casual        24.16453 mins
36    17 member        13.71351 mins
37    18 casual        23.75439 mins
38    18 member        13.40940 mins
39    19 casual        23.17234 mins
40    19 member        13.24787 mins
41    20 casual        22.90632 mins
42    20 member        13.04016 mins
43    21 casual        21.90309 mins
44    21 member        12.82567 mins
45    22 casual        22.71342 mins
46    22 member        13.23471 mins
47    23 casual        23.23745 mins
48    23 member        12.79307 mins

In [137]:
#average ride_length
cyclistic_date %>% group_by(hour) %>%
  summarise_at(vars(ride_length),
               list(time = mean)) %>%
  print(n=24) #lets you view entire tibble

# A tibble: 24 × 2
    hour time
   <int> <drtn>
 1     0 17.96803 mins
 2     1 19.06174 mins
 3     2 18.26363 mins
 4     3 19.78049 mins
 5     4 16.03750 mins
 6     5 12.10373 mins
 7     6 12.02926 mins
 8     7 12.62502 mins
 9     8 13.08638 mins
10     9 16.25540 mins
11    10 20.03580 mins
12    11 20.29848 mins
13    12 19.71900 mins
14    13 20.15568 mins
15    14 20.12224 mins
16    15 18.88262 mins
17    16 17.67920 mins
18    17 17.37283 mins
19    18 17.24399 mins
20    19 17.00631 mins
21    20 16.88763 mins
22    21 16.54988 mins
23    22 17.68231 mins
24    23 18.00433 mins

In [138]:
#--------------------TIME OF DAY---------------------

#----morning----

#average ride length by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  filter(time_of_day == "Morning") %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  member_casual time
1 casual        25.34581 mins
2 member        11.91910 mins

In [139]:
#average ride length
cyclistic_date %>%
  filter(time_of_day == "Morning") %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  time
1 15.99438 mins

In [140]:
#----afternoon----

#average ride length by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  filter(time_of_day == "Afternoon") %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  member_casual time
1 casual        26.90996 mins
2 member        13.24110 mins

In [141]:
#average ride length
cyclistic_date %>%
  filter(time_of_day == "Afternoon") %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  time
1 18.7369 mins

In [142]:
#----evening----

#average ride length by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  filter(time_of_day == "Evening") %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  member_casual time
1 casual        23.10137 mins
2 member        13.19441 mins

In [143]:
#average ride length
cyclistic_date %>%
  filter(time_of_day == "Evening") %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  time
1 17.13398 mins

In [144]:
#----night----

#average ride length by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  filter(time_of_day == "Night") %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  member_casual time
1 casual        21.94847 mins
2 member        12.00823 mins

In [145]:
#average ride length
cyclistic_date %>%
  filter(time_of_day == "Night") %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  time
1 16.73673 mins

In [146]:
#---all times of day---

#average ride length by member type
cyclistic_date %>%
  group_by(time_of_day, member_casual) %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  time_of_day member_casual time
1 Afternoon   casual        26.90996 mins
2 Afternoon   member        13.24110 mins
3 Evening     casual        23.10137 mins
4 Evening     member        13.19441 mins
5 Morning     casual        25.34581 mins
6 Morning     member        11.91910 mins
7 Night       casual        21.94847 mins
8 Night       member        12.00823 mins

In [147]:
#average ride length
cyclistic_date %>%
  group_by(time_of_day) %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  time_of_day time
1 Afternoon   18.73690 mins
2 Evening     17.13398 mins
3 Morning     15.99438 mins
4 Night       16.73673 mins

In [148]:
#-------------------DAY OF THE WEEK-----------------

#average ride_length by member type
cyclistic_date %>% group_by(member_casual, day_of_week) %>%
  summarise_at(vars(ride_length),
               list(time = mean))

   member_casual day_of_week time
1  casual        Friday      24.03235 mins
2  casual        Monday      25.24492 mins
3  casual        Saturday    28.82864 mins
4  casual        Sunday      28.99528 mins
5  casual        Thursday    21.68781 mins
6  casual        Tuesday     22.20551 mins
7  casual        Wednesday   22.31285 mins
8  member        Friday      12.39709 mins
9  member        Monday      12.21753 mins
10 member        Saturday    14.51043 mins
11 member        Sunday      14.52659 mins
12 member        Thursday    12.08852 mins
13 member        Tuesday     12.25430 mins
14 member        Wednesday   12.47314 mins

In [149]:
#average ride_length
cyclistic_date %>% group_by(day_of_week) %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  day_of_week time
1 Friday      16.89291 mins
2 Monday      16.52437 mins
3 Saturday    21.77005 mins
4 Sunday      21.65757 mins
5 Thursday    15.12936 mins
6 Tuesday     15.17264 mins
7 Wednesday   15.50428 mins

In [150]:
#-----------------DAY OF THE MONTH------------------

#average ride_length by member type
cyclistic_date %>% group_by(day, member_casual) %>%
  summarise_at(vars(ride_length),
               list(time = mean)) %>%
  print(n=62)  #lets you view entire tibble

# A tibble: 62 × 3
# Groups:   day [31]
   day   member_casual time
   <chr> <chr>         <drtn>
 1 01    casual        25.42273 mins
 2 01    member        12.57688 mins
 3 02    casual        25.74938 mins
 4 02    member        12.69465 mins
 5 03    casual        24.26446 mins
 6 03    member        12.76304 mins
 7 04    casual        25.95275 mins
 8 04    member        12.96490 mins
 9 05    casual        24.87539 mins
10 05    member        12.66492 mins
11 06    casual        26.90077 mins
12 06    member        12.96029 mins
13 07    casual        24.32366 mins
14 07    member        12.68324 mins
15 08    casual        26.58041 mins
16 08    member        12.70786 mins
17 09    casual        25.15316 mins
18 09    member        12.55112 mins
19 10    casual        23.90121 mins
20 10    member        12.39759 mins
21 11    casual        24.65809 mins
22 11    member        12.79652 mins
23 12    casual        25.30543 mins
24 12    member        12.94233 mins
25 13    casual        27.36924 mins
26 13    member        13.24430 mins
27 14    casual        26.50973 mins
28 14    member        13.04698 mins
29 15    casual        24.25581 mins
30 15    member        12.40751 mins
31 16    casual        22.94781 mins
32 16    member        12.52441 mins
33 17    casual        23.62803 mins
34 17    member        13.07944 mins
35 18    casual        24.34350 mins
36 18    member        13.07343 mins
37 19    casual        25.85967 mins
38 19    member        12.89905 mins
39 20    casual        26.71064 mins
40 20    member        13.17936 mins
41 21    casual        27.98193 mins
42 21    member        13.70968 mins
43 22    casual        25.49102 mins
44 22    member        12.80921 mins
45 23    casual        23.55268 mins
46 23    member        12.51577 mins
47 24    casual        23.78419 mins
48 24    member        12.19412 mins
49 25    casual        24.88326 mins
50 25    member        12.93905 mins
51 26    casual        23.36600 mins
52 26    member        12.49370 mins
53 27    casual        27.39818 mins
54 27    member        13.43471 mins
55 28    casual        23.55085 mins
56 28    member        12.28411 mins
57 29    casual        26.01630 mins
58 29    member        12.58597 mins
59 30    casual        25.44503 mins
60 30    member        12.92197 mins
61 31    casual        26.85063 mins
62 31    member        12.92701 mins

In [151]:
#average ride_length
cyclistic_date %>% group_by(day) %>%
  summarise_at(vars(ride_length),
               list(time = mean)) %>%
  print(n=31)  #lets you view entire tibble

# A tibble: 31 × 2
   day   time
   <chr> <drtn>
 1 01    17.32486 mins
 2 02    17.56961 mins
 3 03    16.97600 mins
 4 04    18.07585 mins
 5 05    17.40002 mins
 6 06    18.44774 mins
 7 07    17.02615 mins
 8 08    17.54650 mins
 9 09    17.00055 mins
10 10    16.42562 mins
11 11    17.30872 mins
12 12    17.76365 mins
13 13    19.35639 mins
14 14    18.62915 mins
15 15    16.84631 mins
16 16    16.07127 mins
17 17    16.67085 mins
18 18    17.35112 mins
19 19    18.11255 mins
20 20    18.72359 mins
21 21    19.78221 mins
22 22    17.36934 mins
23 23    16.30816 mins
24 24    16.20378 mins
25 25    17.43784 mins
26 26    16.38769 mins
27 27    19.37469 mins
28 28    16.38041 mins
29 29    17.32316 mins
30 30    17.38700 mins
31 31    18.47200 mins

In [152]:
#---------------------MONTH--------------------------

#average ride_length by member type
cyclistic_date %>% group_by(month, member_casual) %>%
  summarise_at(vars(ride_length),
               list(time = mean)) %>%
  print(n=24)  #lets you view entire tibble

# A tibble: 20 × 3
# Groups:   month [10]
   month     member_casual time
   <chr>     <chr>         <drtn>
 1 April     casual        24.77649 mins
 2 April     member        12.28607 mins
 3 August    casual        24.81458 mins
 4 August    member        13.13856 mins
 5 February  casual        19.82512 mins
 6 February  member        11.74475 mins
 7 January   casual        15.53736 mins
 8 January   member        11.55637 mins
 9 July      casual        26.48167 mins
10 July      member        13.54003 mins
11 June      casual        26.45039 mins
12 June      member        13.68395 mins
13 March     casual        38.48285 mins
14 March     member        13.66449 mins
15 May       casual        26.94297 mins
16 May       member        13.30430 mins
17 October   casual        22.44443 mins
18 October   member        11.87672 mins
19 September casual        22.15228 mins
20 September member        12.27884 mins

In [153]:
#average ride_length
cyclistic_date %>% group_by(month) %>%
  summarise_at(vars(ride_length),
               list(time = mean))

   month     time
1  April     16.22636 mins
2  August    18.06756 mins
3  February  13.41432 mins
4  January   12.17605 mins
5  July      19.08975 mins
6  June      19.06582 mins
7  March     22.79094 mins
8  May       18.47079 mins
9  October   15.62632 mins
10 September 16.25294 mins

In [154]:
#----------------------SEASON-------------------------

#-----spring------

#average ride length by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  filter(season == "Spring") %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  member_casual time
1 casual        28.92840 mins
2 member        13.04024 mins

In [157]:
#average ride length
cyclistic_date %>%
  filter(season == "Spring") %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  time
1 18.70368 mins

In [156]:
#-----summer------

#average ride length by member type for summer
cyclistic_date %>%
  group_by(member_casual) %>%
  filter(season == "Summer") %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  member_casual time
1 casual        25.90238 mins
2 member        13.44702 mins

In [158]:
#average ride length for summer
cyclistic_date %>%
  filter(season == "Summer") %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  time
1 18.73128 mins

In [159]:
#-----fall------

#average ride length by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  filter(season == "Fall") %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  member_casual time
1 casual        22.27626 mins
2 member        12.08802 mins

In [160]:
#average ride length
cyclistic_date %>%
  filter(season == "Fall") %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  time
1 15.96756 mins

In [161]:
#-----winter-----

#average ride length by member type
cyclistic_date %>%
  group_by(member_casual) %>%
  filter(season == "Winter") %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  member_casual time
1 casual        18.46602 mins
2 member        11.67015 mins

In [162]:
#average ride length
cyclistic_date %>%
  filter(season == "Winter") %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  time
1 12.94231 mins

In [163]:
#----all seasons----

#average ride length by member type
cyclistic_date %>%
  group_by(season, member_casual) %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  season member_casual time
1 Fall   casual        22.27626 mins
2 Fall   member        12.08802 mins
3 Spring casual        28.92840 mins
4 Spring member        13.04024 mins
5 Summer casual        25.90238 mins
6 Summer member        13.44702 mins
7 Winter casual        18.46602 mins
8 Winter member        11.67015 mins

In [164]:
#average ride length
cyclistic_date %>%
  group_by(season) %>%
  summarise_at(vars(ride_length),
               list(time = mean))

  season time
1 Fall   15.96756 mins
2 Spring 18.70368 mins
3 Summer 18.73128 mins
4 Winter 12.94231 mins